<%= render :partial => "header" %>
<div class="container fix-width-container">
  <div class="well" style="width: 100%;margin-top: 154px;height: auto;">
    <h1 class='align-center-text'>Create Employee Request</h1>
    <br>
    <%= form_for :employee_request, url: employee_requests_path do |f| %>
      <% if @employee_request.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@employee_request.errors.count, "error") %> prohibited this user from being saved:</h4>
          <ul>
            <% @employee_request.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='row fix-input-filed-center'>
      <div class="col-sm-8 col-xs-12">
      <div class="row">
        <div class="form-group">
            <div class="col-sm-12">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :telephone %>
            <%= f.text_field :telephone, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :qualification %>
            <%= f.text_field :qualification, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid">
        <div class="row" style="margin-left: 80px;">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.submit "Save", :class=>"btn btn-primary"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <a herf="" onclick="newDoc()"class="btn btn-danger" >Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  </div>
</div>

<script>
  function newDoc() {
    window.location.assign("<%= root_url%>")
}
</script>
