<%= render :partial => "header" %>
<div class="container fix-width-container">
  <div class="well" style="width: 100%;margin-top: 197px;height: auto;">
    <h1 class='align-center-text'>Sign Up</h1>
    <br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name, id: 'registration-id')) do |f| %>
    <%= devise_error_messages! %>

      <div class='row fix-input-filed-center'>
        <div class="col-sm-8 col-xs-12">
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :name %><br />
                <%= f.text_field :name, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :password %>
                <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :telephone %><br />
                <%= f.text_field :telephone, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <%= f.label :city %><br />
                <%= f.text_field :city, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>
          </div><br>

          <div class="container-fluid">
            <div class="row" style="margin-left: 80px;">
              <div class="col-xs-6">
                <div class="form-group">
                  <%= f.submit "Register", :class=>"btn btn-primary"  %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <a herf="" onclick="newDoc()" class="btn btn-danger" >Cancel</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>

<script>
  function newDoc() {
    window.location.assign("<%= root_url%>")
}
</script>
