<%= render :partial => "header" %>
<div class="container">
<div class="well" style="width: 100%;height: auto;margin-top: -15px;">
<h2 class='heading-fix'> Admin Actions</h2><br>
<a href="" style="float:right;" onclick="newDoc()" class='btn btn-normal create-admin-btn-position'>Back</a><br><br>
<a href="<%= get_users_path %>" class='color-shading-link'>Get All Users</a><br><br>
<a href="<%= employee_requests_path %>" class='color-shading-link'>Get All Employee Requests</a><br><br>

<a href="<%= events_path %>" class='color-shading-link'> Events</a><br><br>

<a href="<%= workshop_requests_path %>" class='color-shading-link'> Workshop Requests</a><br><br>

<a href="<%= apply_tutions_path %>" class='color-shading-link'> Acadamic Tution Requests</a><br><br>

<a href="<%= compitative_requests_path %>" class='color-shading-link'> Compitative Tution Requests</a>
</div>
</div>

<script>
  function newDoc() {
    window.location.assign("<%= root_url%>")
}
</script>

