<%= render :partial => "header" %>
<div class="container">
  <div class="well" style="width: 100%;height: auto;margin-top: -15px;">
    <h2 class='heading-fix'> List of Users</h2>
    <div>
      <a href="<%= admin_path %>" class='btn btn-normal create-btn-position'>Back</a>
    </div>

    <div class="table-responsive list-view div-documents-list-section fix-position-table table-margin-top">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="entry-num">Name</th>
            <th class="date">Email</th>
            <th class="name">City</th>
            <th class="document-title" style="padding-right:40px;">Telephone</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody class="table-body-background change-font">
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.city %></td>
              <td><%= user.telephone %></td>
              <td><%= link_to 'Delete', users_delete_path(user), method: :delete, data:{confirm: 'Are you want to delete user'}, :class=> "text-color-fix" %> | <%= link_to 'Show', users_show_path(user), :class=> 'text-color-fix' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
