<%= render :partial => "header" %>
<div class="container fix-width-container">
  <div class="well" style="width: 100%;margin-top: 100px;height: auto;">
    <h1 class='align-center-text'>Create New Event</h1>
    <br>
    <%= form_for :event, url: event_path, method: :put do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@event.errors.count, "error") %> prohibited this user from being saved:</h4>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='row fix-input-filed-center'>
      <div class="col-sm-8 col-xs-12">
      <div class="row">
        <div class="form-group">
            <div class="col-sm-12">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :place %>
            <%= f.text_field :place, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :date %>
            <%= f.date_field :date, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :time %>
            <%= f.text_field :time, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid">
        <div class="row" style="margin-left: 80px;">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.submit "Save", :class=>"btn btn-primary"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= link_to "Cancel", root_path, :class=>"btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  </div>
</div>

