<%= render :partial => "header" %>
<div class="container">
  <div class="well" style="width: 100%;height: auto;">
    <h2 class='heading-fix'>Upcoming Events</h2>
    <div>
      <a href="" onclick="newDoc()" class='btn btn-normal create-btn-position fix-margin-btn-buts'>Back</a>
    </div>
    <% @events.each do |event| %>
      <div class="reactangle-shape-card">
        <div class="card-heading-fix"><h3><strong>Event Name</strong> : <%= event.name%></h3></div>
        <div class="card-heading-fix"><h3><strong>Place</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= event.place %></h3></div>
        <div class="card-heading-fix"><h3><strong>Date</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= event.date.strftime("%d-%m-%Y") if event.date.present? %></h3></div>
        <div class="card-heading-fix"><h3><strong>Time</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= event.time %></h3></div>
        <div class="card-heading-fix"><h3><strong>About Event</strong> : <%= event.description %></h3></div>
      </div><br>
    <% end %>
  </div>
</div>

<script>
  function newDoc() {
    window.location.assign("<%= root_url%>")
}
</script>
