<div class="container">
  <div class="well" style="width: 100%;height: auto;">
    <h2 class='heading-fix'> List of Documents</h2>
    <div>
      <a href="<%= root_path %>" class='btn btn-normal create-btn-position'>Back</a>

      <%= form_for(@document, url: documents_path(@document)) do |f| %>
        <%= f.text_field :name %>
        <%= f.file_field :report, multiple: true %>
        <%= f.submit %>
      <% end %>
      <ul>
      <% @documents.each do |d| %>

        <li><a class="fa fa-file-text fa-5x" onclick="window.open('<%= d.name %>')" aria-hidden="true"></a><br/><%= d.name %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
