<%= render :partial => "header" %>
<div class="container">
  <div class="well" style="width: 100%;height: auto;margin-top: -15px;">
    <h2 class='heading-fix'> List of Documents</h2>
    <div>
      <a href="" onclick="newDoc()" class='btn btn-normal create-btn-position'>Back</a>
      <div>
        <% if current_user.has_role? :Admin %>
          <%= form_for(@document, url: documents_path, :method => "POST", :html => {:multipart => true}) do |f| %>
            <%= f.file_field :report, multiple: true %>
            <%= f.submit "Submit", class: "chose-btn-fix btn btn-normal" %>
          <% end %>
        <% end %>
      </div>
      <div class="fix-padding-doc">
        <ul >
          <% @documents.each do |d| %>
          <div class="fix-document-position">
            <li ><%= link_to ('<i class="fa fa-file-text fa-5x fix-color" aria-hidden="true"></i></br>').html_safe + d.report_identifier, d.report.url, :style => 'text-decoration: none;', target: "_blank", :class => "doc-text-style" %>
              <br/>
              <% if current_user.has_role? :Admin %>
                <%= link_to 'remove', document_path(d), method: :delete, :class => "doc-text-style" %>
              <% end %>
            </li>
          </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  function newDoc() {
    window.location.assign("<%= root_url%>")
}
</script>
