<div class="container fix-width-container">
  <div class="well" style="width: 100%;margin-top: 100px;height: auto;">
    <h1 class='align-center-text'>Workshop Request</h1>
    <br>
    <%= form_for :workshop_request, url: workshop_requests_path do |f| %>
      <% if @workshop_request.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@workshop_request.errors.count, "error") %> prohibited this user from being saved:</h4>
          <ul>
            <% @workshop_request.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='row fix-input-filed-center'>
      <div class="col-sm-8 col-xs-12">
      <div class="row">
        <div class="form-group">
            <div class="col-sm-12">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :telephone %>
            <%= f.text_field :telephone, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :collage %>
            <%= f.text_field :collage, class: 'form-control' %>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid">
        <div class="row" style="margin-left: 80px;">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.submit "Save", :class=>"btn btn-primary"  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= link_to "Cancel", root_path, :class=>"btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  </div>
</div>
